body {
  background-color: #cadff5;
  font-family: "Edu NSW ACT Cursive", cursive;
}
a {
  color: #70a5e2;
  font-weight: 900;
}
.weather-app {
  background: #f2f1f5;
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
}
header {
  border-bottom: 1px solid none;
  padding: 0 0 30px 0;
}

.input-city {
  width: 75%;
  text-align: center;
  border: 1px solid #cadff5;
  padding: 10px;
  margin-right: 20px;
  margin-left: 25px;
  font-size: 20px;
  font-family: "Edu NSW ACT Cursive", cursive;
}
.input-search {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #cadff5;
  background: white;
  font-size: 18px;
  font-family: "Edu NSW ACT Cursive", cursive;
  color: #757575;
}
main {
  padding: 30px 0;
  bottom: -50px;
}
.weather-info {
  display: flex;
  justify-content: space-between;
}
.input-place {
  font-size: 55px;
  font-weight: 500;
  margin: 2px;
  margin-top: 5px;
  line-height: 40px;
  padding: 5px 0 0 0;
  position: relative;
  right: -15px;
}

.weather-info-2 {
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  padding: 20px;
  margin-bottom: 0;
}
.weather-info-2 strong {
  color: #4077b8;
}
.weather-details {
  display: flex;
}
.weather-icon {
  position: relative;
  right: 5px;
  bottom: 25px;
  font-size: 40px;
}
.weather-temp {
  font-size: 67px;
  position: relative;
  bottom: 30px;
  font-weight: 500;
  right: 5px;
}
.weather-unit {
  position: relative;
  font-size: 15px;
  bottom: 10px;
  right: 5px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.forecast-date {
  text-align: center;
  color: #757575;
  font-size: 20px;
  line-height: 19px;
  margin-bottom: 10px;
}
.forecast-icon {
  width: 90px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.forecast-temperatures {
  text-align: center;
  color: #4077b8;
  display: flex;
  justify-content: center;
}
.forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #cadff5;
  padding: 30px 0 0 0;
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-top: 0;
}
